<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/books/new">Make a book!</a>
  <% if (books.length) { %>
    <% books.forEach(book=> { %>
      <p>
        <a href="/books/<%= book._id %>">
          <%= book.name %>
        </a>
        is
        <%= book.read ? "read" : "not read" %>
      </p>
      <% }) %>
        <% } else { %>
          <%# there are no books %>
            <h1>There are no books</h1>
            <% } %>
</body>

</html>